<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343583399479-pfs9j993fv5u4pl8b36pvtu0pu202q4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343583399479-pfs9j993fv5u4pl8b36pvtu0pu202q4q</string>
	<key>API_KEY</key>
	<string>AIzaSyDSqemIGJTzm59biER4iqUlXfkUahX9ayo</string>
	<key>GCM_SENDER_ID</key>
	<string>343583399479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>jobsque-c6b00</string>
	<key>STORAGE_BUCKET</key>
	<string>jobsque-c6b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343583399479:ios:da48629442d434d41be9b2</string>
</dict>
</plist>